:root{ 
    --color-1: #FFFFFF;
    --color-2: #6BDFDA;
    --color-3: #9AD7F3;
    --color-4: #FEC3C7;
    
 }

 @font-face {
    font-family: "Poppins-Bold";
    src: url(../font/Poppins-Bold.ttf);
 }

 @font-face {
   font-family: "Poppins-Regular";
   src: url(../font/Poppins-Regular.ttf);
}




 