<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="container_main">
        <section class="container_text">
            <h1>Listen to 
                your <span class="yellow">heart</span> </h1>
            <h2>Dance with 
                    the <span class="yellow">rhythm</span></h2> 
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer 
                facilisi eget. Lorem ipsum dolor.</p>            
            <button>Get started</button>
        </section>
        
        <section class="container_list">
            <article class="text_list">
                <img src="storage/img/Music note.svg">
                <h3>168</h3>
                <p>Lorem ipsum 
                    Lorem ipsum 
                    dolor amet</p>
            </article>
            <article class="text_list">
                <img src="storage/img/Music note.svg">
                <h3>425K</h3>
                <p>Lorem ipsum 
                    Lorem ipsum 
                    dolor amet</p>
            </article>
            <article class="text_list">
                <img src="storage/img/Music note.svg">
                <h3>4.9</h3>
                <p>Lorem ipsum 
                    Lorem ipsum 
                    dolor amet</p>
            </article>
        </section>
        <section class="container_img">
            <img src="storage/img/Image area.svg">
        </section>
        

    </main>
</body>
</html>

