:root{
    --color-1: #D9D9D9;
    --color-2: #252525;
    --color-3: #FFFFFF;
    --color-4: hsla(0, 0%, 15%, 0.800);
    --color-5: #F2F2F2;
}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(../storage/font/AvenirLTStd-Heavy.otf);
}
@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage/font/AvenirLTStd-Roman.otf);
}
@font-face {
    font-family: "Avenir-Medium";
    src: url(../storage/font/AvenirLTStd-Medium.otf);
}