:root{
    --color-1: #FFFFFF;
    --color-2: #252525;
    --color-3: #01062D;
    --color-4: #010625;
}

@font-face {
    font-family: "Lato-Light";
    src: url(../storage/font/Lato-Light.ttf);
}
@font-face {
    font-family: "Lato-Black";
    src: url(../storage/font/Lato-Black.ttf);
}
@font-face {
    font-family: "Lato-ExtraBold";
    src: url(../storage/font/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(../storage/font/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-Medium";
    src: url(../storage/font/Lato-Medium.ttf);
}

