<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>22</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="container_main">
        <article class="container_text">
            <h1>Discover
                the power
                of design</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.Lorem ipsum dolor</p>
            <button>Explore</button>
        </article>
        <article class="img_rigth">
            <img src="storage/img/Rectangle 27.svg">
            <img src="storage/img/Rectangle 31.svg">
        </article>
        <article class="container_list">
            <div class="text_list">
                <h3>01</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div>
            <div class="text_list">
                <h3>02</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div>
            <div class="text_list">
                <h3>03</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div>
        </article>
        <article class="img_left">
            <img src="storage/img/image.svg">
        </article>
        <article class="container_cards">
                <img src="storage/img/1.svg">
                <img src="storage/img/2.svg">
                <img src="storage/img/4.svg">
        </article>

    </main>
</body>
</html>

