@import url(variables.css);


*{margin: 0; padding: 0; 
    /*outline: 1px solid tomato;*/
}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}


.imgbackground{
    height: auto;
    padding-bottom: 2vw;
    img{
        width: 100%;
    }
}


.textcontainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 6.388vw;
    top: 16.5972vw;
    width: 41.66vw;
    height: auto;
    gap:2.77vw;

    h1{
        font-family: "Lato-Bold";
        font-size: 5.55vw;
        color: #ffffff;
    }

    p{
        font-family: "Lato-Regular";
        font-size: 1.66vw;
        color: #ffffff;
    
    }

    button{
        width: 20.20vw;
        height: 4.58vw;
        background-color: rgba(126, 181, 225, 1);
        border-radius: 2.77vw ;      
        color: #ffffff;  
        font-family: "Lato-Medium";
        font-size: 1.66vw;
        border-radius: 2.77vw;
        border: none;
        cursor: pointer;
    }

    button:hover{
        background-color: rgb(74, 105, 131);
        color: #c2c2c2;
    }



}

.flexcontainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 55.83vw;
    left: 50%;
    transform:translateX(-50%) ;
    width: 82.638vw;
    height: 10.833vw;
    background-color: rgba(239, 238, 238, 1);
    gap:2.77vw;
    border-radius: 1.66vw;
    align-items: center;
    justify-content: space-evenly;
        
    
    img{
        height: 5.27vw;
        width: 5.27vw;
    }

    .boxcontainer{
        display: flex;
        flex-direction: row;
        gap: 2.22vw;
        width: 23vw;
        
        .divcontainer{
            display: flex;
            flex-direction: column;
            gap: 0.277vw;

            h2{
                font-family: "Lato-Bold";
                font-size: 1.944vw;
                color: #333333;
            }

            p{
                font-family: "Lato-Regular";
                font-size: 1.11vw;
                color: #333333;
            }
        }
    }
}