:root{
    --color-1: #FFFFFF;
    --color-2: #050505;
    --color-3: #111111;
}
@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url(../storage/font/PlayfairDisplay-Bold.ttf);
}
@font-face {
    font-family: "WorkSans-Medium";
    src: url(../storage/font/WorkSans-Medium.ttf);
}
@font-face {
    font-family: "WorkSans-Regular";
    src: url(../storage/font/WorkSans-Regular.ttf);
}
