@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-gradient-2);
    height: 920px;

}
.container_main {
    width: 100%; 
    height: 1024;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img {
    display: flex;
    position: absolute;
    right: 0;
}
.container_text {
    background: var(--color-gradient-1);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 724px;
    height: 518px;
    top: 193px;
    left: 64px;
    border-radius: 24px;
    .text{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 612px;
        height: 438px;
        position: absolute;
        
        img{
            width:80px;
            height: 16px;
        }
        h1{
            font-family: "Avenir-Heavy";
            font-size: 64px;
            color: var(--color-1);
        }
        p{
            font-family: "Avenir-Roman";
            font-size: 26px;
            color: var(--color-1);
        }
        button{
            font-family: "Poppins-Regular";
            font-size: 24px;
            color: var(--color-2);
            width: 182px;
            height: 66px;
            background-color:var(--color-3);
            border-radius: 55px ;
            border: none;
            cursor: pointer;
        }
    }
}
.container_list {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 24px 56px;
    gap: 92px;
    width: 1312px;
    height: 171px;
    top: 791px;
    position: absolute;
    border-radius: 32px;
    background: var(--color-gradient-1);
}
.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-1);
    img{
        width: 22px;
        height: 17px;
    }
    h1{
        font-family: "Avenir-Heavy";
    }
    p{
        font-family: "Avenir-Roman";
    }
}
