<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>21</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="container_main">
        <section class="container_hero">
            <article class="container_img">
                <img src="storage/img/Hero.svg">
            </article>
            <article class="container_text">
                <h1>No kid hungry</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <button>Donate</button>
            </article>
        </section>

        <article class="container_list">
            <article class="img">
                <img src="storage/img/left.svg">
                <div class="text">
                    <h3>3567K+</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>               
                </div>
            </article>
            <article class="img">
                <img src="storage/img/Middle.svg">
                <div class="text">
                    <h3>3,125</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>               
                </div>
            </article>
            <article class="img">
                <img src="storage/img/Right.svg">
                <div class="text">
                    <h3>$0.34</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>               
                </div>
            </article>
        </article>
    </main>
</body>
</html>
